
<!DOCTYPE html>
<html>
<head><!--<base href="/lander/br-1/index.html">--><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Telegram: Join MONEY Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Text me">
    <link rel="shortcut icon" href="https://telegram.org/favicon.ico?3" type="image/x-icon">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '{{pixel_id}}');
    fbq('track', 'PageView');
</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id={{pixel_id}}&ev=PageView&noscript=1"
    /></noscript>
<!-- End Meta Pixel Code -->

</head>

<body>
    <div class="yecoyrxvcxcse">
      <div class="fpytgqoecc">
        <div class="lyeyzxltcfrultd">
          <a href="https://telegram.org/" class="cjjoskpzukgwr">
            <i class="qurioiuolojoirq"></i>
          </a>
        </div>
      </div>
      <a class="udoeqlisqtjk" href="https://telegram.org/dl?tme=74b06384bdb84d1a71_17097266801242848037">
        Do<span style="display:none;">ltu</span>n't ha<span style="display:none;">kih</span>ve <strong>Telegram</strong> ye<span style="display:none;">xhe</span>t? Try it now!<i class="urtwarktzwpvh"></i>
      </a>
      <div class="ljuvtkldzx">
      <div class="yfuqgkurfrilak">
          <a href="https://t.me/+h3viYl2cRS4yNmNi"><img class="rfriwwtjgtgjhxr" src="{% static 'img/PHOTO.jpg'%}"></a>
      </div>
<div class="ydgoglyevsouqy" dir="auto">
    <p style="display:block" class="xltysyxwsxewos">O vencedor do avião💸<br>Entre no canal<span style="display:none;">hrr</span>💸 <br>😎online 24/7, <span style="display:none;">hct</span>dou sinais privados<br>Acesse imediatamente🚀<br>👇👇👇</p>
</div>
<div class="psoricqqudsq">1789 members</div>
    <div class="geajujqkiylx">
        <a onclick="fbq('track', 'Lead')" id="leadButton" class="khevfgihffrpoka" href="re_white">🔥🔥🔥PUSH ME🔥🔥🔥</a>
    </div>
        <div class="jtiwxqattsvxu">
            You are in<span style="display:none;">ydx</span>vited to the gr<span style="display:none;">hyd</span>oup <strong dir="auto">text me</strong>. Cl<span style="display:none;">zkz</span>ick ab<span style="display:none;">voj</span>ove to join.</div>
      </div>
</div>

<div class="szaetdqvfhf" style="z-index: 2147483647 !important; text-transform: none !important; position: fixed;"></div>
<div class="szaetdqvfhf" style="z-index: 2147483647 !important; text-transform: none !important; position: fixed;"></div>


</body>
</html>